/*reset*/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

/*root variable*/
:root{
    --color-primary:#ff5722;
    --color-primary-light: #ff7a50;
    --color-secondry-light:#fff6f2;
    --color-secondry-dark:#ffa589;
    --color-navbar:#f8f8f8;
    --color-fontheading:#000;
    --color-fontbody:#333333;
    --color-white:#fff;
    --border-radius:20px;
}
html{
    font-size: 62.5%;
}
body{
    color: var(--color-fontbody);
    font-size: 1.4rem;
    line-height: 1.7;

}
h1,
h2,
h3 {
 color: var(--color-fontheading);
  font-weight: 700;
}
h1{
    font-size: 2.5rem;
}
h2{
   font-size:  2.2rem;
   margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
    body {
         font-size: 1.8rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }
}
/* buttons */
 .btn{
    outline: 0;
    border: 0;
    padding: 2rem 2.2rem;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
    margin: 1rem 0;
 }
 .btn--primary{
    background-color:var(--color-primary-light);
    color: var(--color-white);

 }
.btn--secondary{
    background-color:var(--color-secondry-dark) ;
    color:var(--color-white) ;
}
.btn-block{
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.6rem ;
    }
.btn-block {
    font-size: 2rem;
    
}
    
}
 .badge{
    display: inline-block;
    padding: 0.5rem 1.3rem ;
    background-color: #fff;
    border: 2px solid var(--color-primary);
    border-radius: 3.2rem ;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 1.2rem;
 }
 .badge--primary{
      background-color:var(--color-primary);
      color: var(--color-white)
 }

 @media screen and (min-width:1024px){
    .badge {
    font-size: 1.4rem;
    }
 }
/* lists */
 .list{
    list-style: none;
    font-size: 1.8rem;

 }
.list--inline .list__item {
    display: inline-block;
    margin-left: 2rem;

   
}

/* .list--tick .list__item::before {
  content:"";
  width:20px;
  height:20px;
  background: url(/assects/images/Tick-Square.svg) no-repeat;
  padding-right: 2rem;
  
} */
.list--tick .list__item {
    background: url(/assects/images/Tick-Square.svg) no-repeat;
    background-position:  right center;
    padding-right: 3rem;
    margin-bottom: 1.5rem;
}


    
 @media  screen and (min-width:1024px) {
     .list--tick .list__item {
        font-size: 1.8rem ;
        margin-bottom: 3rem;

     }
 }
/* PLAN */

.plan-block{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,320px)) ;
    justify-content: center;
    gap: 8rem 6rem;
}
.plan{
    font-size: 1.8rem;
    transition: all 0.5s ease-out;
    margin-top: 3rem;

}
.h2-contact{
    margin: 3rem;
}
.card__primary .card__header {
    background-color:var(--color-primary-light);
}
.card{
border-radius: var(--border-radius);
overflow: hidden;
box-shadow: 0 0 20px 10px #efefef;

}

.card__header,
.card__body {
   padding: 3rem 2.5rem;
   

}
.card__header{
    background-color:var(--color-secondry-dark) ;
    color:var(--color-white);
}
.flex-intro{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.plan__price{
    font-size: 3rem;
}
.plan-currency{
    font-size: 1.4rem;
}
.plan__description{
    /* display: block; */
    margin-top: 2rem;
}
.plan .btn-block{
    font-size: 1.6rem;
    margin-top: 10rem;
}
.plan--poular{
    transform: scale(1.1);
}
 /* .plan--poular:hover {
    transform: scale(1.2);
    
 }  */
.plan:hover{
    cursor: pointer;
}
.plan--scale:hover{
    transform: scale(1.05);
}

@media  screen and (min-width:1024px) {
    /* .plan-block{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    } */
    .plan .btn-block {
        font-size: 1.8rem;
    }
}

/* container */
.container{
    max-width: 1140px;
    margin: 0 auto;
    /* margin-top: 4rem; */
}

/* feature */
.feature{
    display: grid;
    margin-top: 1rem;
    gap :0 10rem;
}
.feature__text{
    margin-bottom:3rem ;
}
.feature .btn{
    padding: 1.5rem 3rem;
    
}
.feature__image > img{
    width: 100%;
    height: auto;
    /* margin-right: 4rem; */
}
.feature__image{
    height: auto;
    margin-bottom: 2rem;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
      
}
@media screen and (min-width:1024px) {
    .feature{
        grid-template-columns: repeat(2,1fr);
        /* gap: ; */
    }

    .feature__image{
        width: 100%;
        order: 2;
        margin-bottom: 0;
    
}
.feature__detail {
    order: 1;
  }
.feature__image > img{
    width: 100%;
}

}
.contact-us{
    display: grid;


}
.charge .feature__image {
    order: 1;
  }
.contact-us-map{
    display: none;
}
@media screen and (min-width:1024px) {

    .contact-us{
        grid-template-areas: 
        " detail form"
        " map form"
        " icons form" ;
        grid-template-columns: 70fr 30fr;
    }
    
    .contact-us-form{
        grid-area: form;
    
    }
    .contact-us-detail{
        grid-area: detail;
    }
    .contact-us-map{
        grid-area: map;
        display: block;
    }
    .contact-us-social{
        grid-area: icons;
    }

}
/* ICONS */
.icon-container{
    background-color: #f6f6f6;
    width: 50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    margin: 2rem;
}
 .icon{
    width: 34px;
    height: 34px;
    
 }
 .contact-us-icons{
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
    align-items: flex-end;
 }
 .contact-us-icons .icon__parent{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
 }
  .icon__text{
    margin-left: 1rem;
    display: block;
    max-width: 250px;
  }
@media screen and (min-width:1024px) {
    .contact-us-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .contact-us-icons .icon__parent{
        flex-direction: column;
max-width: 150px;

     }
    .icon__text{
        order: 2;
        font-size: 1.4rem;
        margin-top: 1.5REM;

    }
}
/*social icons*/
.contact-us-social .icon-container{
    /* display: block; */

}
.contact-us-social{
    display: flex;
    justify-content: center;
}
@media screen and (min-width:1024px) {
    .contact-us-social{
        justify-content: flex-end;
    }
    
}
.contact-us-social .icon-container{
    margin-left: 2rem;
}
.contact-us-map img{
    width: 100%;
    height: auto;
}

/*form*/


.form-wrapper{
    height: 100%;
    border:1px solid #ccc;
    border-radius:var(--border-radius);
    box-shadow: 0 10px 30px rgba(0,0,0, 0,1) ;
    padding: 1rem;
}
.form-wrapper h3{
    margin-bottom: 5.3rem;
    margin: 5.2rem;
    text-align: center;
}
.form-wrapper form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
input ,
textarea{
    display: block;
    margin-bottom: 2rem;
    outline: 0;
    border: 0;
}
.form-wrapper input ,
 textarea{
    border-radius: 39px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1rem;
   font-family: "vazir";
 
}
textarea{
    resize: none;
    border-radius: 20px;
}
::placeholder{
    font-size: 1.4rem;
    color: #333;
    font-family: "vazir";
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
border: 1px solid var(--color-primary);
/* transform: ; */
transition: all 0.5s;
}

@media screen and (min-width:1024px) {
    .contact-us-form{
        margin-right: 1.5rem;
    }
    
}
@media screen and (max-width:540px) {
    .form-wrapper{
        border: none;
        margin-top: 1rem;
        border-top: .2rem solid #ccc;
        border-radius: 0;

    }
}
/*footer*/
.main-footer{
    background-color: black;
    color: #fff;
    min-height: 200px ;
    display: flex;
    align-items: center;

}
.main-footer .footer{
    display: flex;
    flex-direction: column;
    
}
.footer__item{
    margin-bottom: 2.5rem;
}
.footer__item a {
text-decoration: none;
color: #fff;
font-size: 1.4rem;
display: block;
/* margin-bottom: 1rem; */

}
.footer__item h6{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;

}
.footer__item.enemad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-trust{
    background-color: #ccc;
    /* border-radius: 30px; */
    margin-left: 1rem;
}
.footer-trust img{
    width: 100%;
}
@media screen and (min-width:1024px) {
    .main-footer .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    } 
    .footer__item{
        margin: 0; 
        margin-left: 1rem;
    }
    
}

/* nav bar */
.main__header{
    background-color:var(--color-navbar);
}
.nav{
     display: flex;
     flex-wrap:wrap;
     justify-content: space-between;
     align-items: center;
     padding:1rem 2rem;

}
.nav__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.nav.nav__expanded .nav__list{
   max-height: 100vh;
   opacity: 1;
}
.nav__list li{
    list-style: none;
}
.nav__menu{
    margin-bottom: 1rem;
    border-bottom:1px solid #ccc ;
}
.nav__list a{
    text-decoration: none;
    color: var(--color-fontheading);
    display: block;

}
.nav__list a:hover{
cursor: pointer;
color: var(--color-primary);
}
.nav__menu.cta{
    font-size: 1.4rem ;
    border-bottom: 0;
}
.nav__menu.cta a{
    color: var(--color-white);
    font-size: 1.4rem;
}
.nav__menu .btn{
    padding: 1rem 3.5rem;

}
.nav__toggler{
    cursor: pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.5s ease-in;
}
.nav.nav__expanded .bar-one{
transform: rotate(-45deg) translate(-9px,7px);
margin: 8px 0;
}
.nav.nav__expanded .bar-two{
    opacity: 0;
    transform: translateX(20px);
}
.nav.nav__expanded .bar-three{
    transform: rotate(45deg) translate(-8px,-6px);
    margin: 8px 0;
    
}
@media screen and (min-width:768px) {
    .nav{
        padding: left 1rem;;
    }
.nav__toggler{
    display: none;
}    

.nav__list{
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    width: auto;
    /* margin-left:2rem ; */
    opacity: 1;
    max-height: 100%;
    transition: none;

}
.nav__menu{
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    border: 0;
}
    
}
/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    height: 478px;
  }
  .hero-section .banner-img {
    width: 100%;
    height: auto;
  }
  .hero-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 478px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro-btn {
    border-radius: 20px;
    background-image: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3) 95%
    );
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }
  .intro-btn h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;
  }
  .intro-btn h2 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  .intro-btn__passenger {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2rem;
    padding: 14px;
    width: 220px;
  }
  .intro-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .intro-btn__passenger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .intro-btn__passenger p {
    font-size: 1.2rem;
  }
  .intro-btn__passenger > i {
    color: #000;
  }
  .intro-btn__passenger.driver-intro {
    border: 2px solid #fff;
    background-color: rgba(23, 26, 60, 0.5) !important;
    color: #fff;
  }
  .banner-phone {
    display: none;
    position: absolute;
    left: 10%;
    bottom: -50%;
    height: auto;
    width: 420px;
  }
  
  @media screen and (min-width: 768px) {
    .hero-wrapper {
      justify-content: flex-start;
      right: 0;
    }
    .intro-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .intro-btn {
      width: 500px;
      max-width: 500px;
      padding: 0 25px;
      border-radius: 20px;
    }
    .intro-btn h1 {
      font-size: 5rem;
    }
    .intro-btn h2 {
      font-size: 2rem;
      font-weight: 400;
    }
    .intro-btn__passenger p {
      font-size: 1.5rem;
    }
    .banner-phone {
      display: block;
    }
  }
  
/*servises */

.services__tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    padding: 5px 0 15px;
}
.services__tabs img{
    max-width: 85px;


}
.services__tabs .tab{
    display: block;
    text-decoration:  none;
    color:#444;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95px;
}
.services__tabs .tab > p{
    margin-top: 1rem;
    font-size: 1.2rem;


}
.services__tabs .tab{
    opacity: .5;
    transition: all 0.4s ease-in;
}
.services__tabs .tab:hover {
    cursor: pointer;
    opacity: 1;
}
.services__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.services .feature__title{
    margin-bottom: 2rem;
    margin-top: 1.5rem 0;
}
.services .feature__image{
    display: none;
}
.tab-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature__detail{
    width: 100%;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: flex;
}
.tab.active{
    opacity: 1;
}
@media  screen and (min-width:1024px) {
    .services__tabs .tab > p{
        margin-top: 1.1rem;
        font-size: 1.4rem;
    
    
    }
    
    .services__tabs img{
     width: 100%; 
    
    
    }

    .services__title{
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }
    .services .feature__image{
        display: block;
    }
    .feature__detail{
        width: 50%;
    }
    
}
.block{
    padding: 4rem 2rem;
}
.block-heading{
margin-top: 6rem;
}
/*travell*/
.travell__slides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding-bottom:1.5rem ;
}
.travell__slides::-webkit-scrollbar{
    display: none;
}
.travell__slide {
    flex:0 0 298px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.travell__slide:not(:last-child){
    margin-left: 1.5rem;
}
.travell__slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}
.slide__image{
/* width: 100%; */
/* height: 200px; */
}
.travell__detail{
    background-color: var(--color-white);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .09) ;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    transform: translateY(-60px);
    width:85%;
}
.slide__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide__header p{
    font-size: 1.2rem;
    margin-right: 1.5rem;

}
.slide__header .badge{
    font-size: 1.2rem;
    padding: .01rem  1rem;
}
.slide__title{
    font-size:1.4;
    font-weight: bold;
    margin-top: 1.5rem;
}
.travell__detail .slide-icons{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    color: #cacaca;
}
/*accordion menu*/


.accordion__header{
    display: flex;
    /* flex-direction: row ; */
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    border-top: 1px solid #ccc;
}
.accordion__header.first{
   /* border-top:0; */
}
.accordion__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .20s ease-in;
    padding: 2rem 2rem;
    border-top: 1px solid #ccc;
}
.accordion__expanded .accordion__content{
    max-height: 100vh;
    opacity: 1;
}
.accordion__header .icon{
    color: var(--color-primary);
    /* font-size:; */
    transform: rotate();
}
.accordion__expanded .accordion__header i{
    transform: rotate(-180deg);
    transition: all 0.20s ease-in;
}
.accordion__wrapper{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 9px 12px rgba(0,0,0,.05);
}
.accordion__intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion__intro{
    padding: 2rem 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.accordion__intro div{
    color: var(--color-primary);
    cursor: pointer;
}
/* AVATAR*/
.avatar-group{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 1rem;
}
.avatar-group .avatar{
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-white);
    border-radius: 100%;
    background-color: gold;
    margin-left: -20px;
    cursor: pointer;
    transition: all .3s ease-in;
    position: relative;
}
.avatar-group .avatar:hover{
    transform: translate(5px);
}
.hidden-avatars{
    width: 50px;
    height: 50px;
    color: #fff;
    background-color:var(--color-secondry-dark);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    /* margin-right: 1.5rem; */
    position: relative;
}
.slide__suggest{
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-right: .7rem;
}
/* select type*/
.select-type{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.select-control input[type="radio"]{
    display: none;
}
.select-control{

    flex-grow: 1;
}
.select-type :not(:last-child){
    margin-left: 2rem;
}
.select-control label{
    width: 100%;
    border-radius: 32px;
    border: 1px solid #ccc;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    transition: all .3s ease-in;
    cursor: pointer;
}
.select-control label::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 2px #ccc ;
    border-radius: 100%;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #fff ;
}
.select-control input[type="radio"]:checked + label{
    border: 1px solid var(--color-primary);
    color: var(--color-primary-light);
}
.select-control input[type="radio"]:checked + label::before{
    box-shadow: 0 0 0 2px var(--color-primary);
    background-color: var(--color-primary) ;
}
